{% extends "layout.html" %}
{% block title %}Auswertungen{% endblock title %}
{% block content %}
<div class="container flex p-6 flex-col
	    mx-auto lg:flex-row lg:mb-0 lg:max-w-6xl">
  <h1  class="mb-4 text-2xl font-semibold">{{header}}</h1>
  <div id="chart" class="chart"></div>
  <div>{{description}}</div>
</div>
{% endblock content %}
