@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply block w-full px-4 py-2  text-base text-gray-700 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent hover:bg-gray-200 transition-colors;
}

.input-field-admin {
  @apply block w-24 px-4 py-2  text-base text-gray-700 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent hover:bg-gray-200 transition-colors;
}

.error-field {
  @apply border-red-500 bg-red-100 focus:ring-red-500;
}

.form-error {
  @apply text-red-500 mt-2;
}

.sticky-nav {
  @apply bg-green-800 bg-opacity-80 backdrop-filter backdrop-blur-lg;
  z-index: 99999 !important;
}

.active {
  @apply bg-green-600 text-white;
}

#overlay {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 2 !important;
}

.invalid-input {
  border: 1px solid red !important;
}

.topContainer {
  position: relative;
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 1.2em !important;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem !important;
  }
}

.table-responsive {
  display: block !important;
  width: 100% !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

html {
  scroll-behavior: smooth !important;
  font-size: 100% !important;
}

@layer components {
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.7);
    }
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.toggle-checkbox:checked {
  right: 0 !important;
  border-color: #4b5563 !important;
  background-color: #4b5563 !important;
}

.toggle-label {
  width: 34px !important;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #10b981 !important;
}

.link-underline {
  border-bottom-width: 0 !important;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff) !important;
  background-size: 0 3px !important;
  background-position: 0 100% !important;
  background-repeat: no-repeat !important;
  transition: background-size 0.5s ease-in-out !important;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(240, 255, 255), rgb(240, 255, 255)) !important;
}

.link-underline:hover {
  background-size: 100% 3px !important;
  background-position: 0 100%;
}

.details-text {
  border: 1px solid #ddd !important;
  padding: 10px !important;
  border-radius: 5px !important;
}
