{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock title%}
{% block text %} {{user_name}} {% endblock text %}
{% block content %}



<div class="container px-4 mx-auto my-10 md:px-12">
    <div class="flex flex-wrap items-center justify-between mb-5 space-x-4">
        <div class="flex flex-wrap items-center space-x-4 md:space-x-0 md:space-y-4 md:flex-col">
            <!-- Filter button -->
            <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
                class="flex items-center justify-center w-full px-4 py-2 mb-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto md:mb-0 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400"
                    viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                        clip-rule="evenodd" />
                </svg>
                Filter
                <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                </svg>
            </button>

            <!-- Filter dropdown menu -->
            <div id="filterDropdown"
                class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow ">
                <ul class="py-2 text-sm text-gray-700 " aria-labelledby="filterDropdownButton">
                    <li>
                        <label
                            class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                            <div
                                class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none">
                                <input type="checkbox" name="toggle" id="toggle" onchange="toggleApprovedSightings()"
                                    class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox"
                                    checked />
                                <label for="toggle"
                                    class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"></label>
                            </div>
                            <span id="checkbox-label" class="ml-2 text-sm text-gray-700">Unbestätigt</span>
                        </label>
                    </li>
                    <!-- Add more filter options here -->
                    <li>
                        <label class="block w-full px-4 py-2 text-left hover:bg-gray-100">
                            <div class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none">
                                <input type="checkbox" name="toggleDeleted" id="toggleDeleted" onchange="toggleDeletedSightings()" class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox" />
                                <label for="toggleDeleted" class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"></label>
                            </div>
                            <span id="checkbox-label-deleted" class="ml-2 text-sm text-gray-700">Nicht Gelöscht</span>
                        </label>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="flex-grow mb-2 md:mb-0">
            <input type="text" id="searchInput" onkeyup="searchReports()" placeholder="Search for reports..."
                class="w-full px-4 py-2 rounded-lg shadow-sm focus:ring-2 focus:ring-green-500 focus:border-transparent">
        </div>
        
        <div class="mb-2 md:mb-0">
            <select id="sortInput" onchange="sortReports()"
                class="w-48 px-4 py-2 text-sm rounded-lg shadow-sm focus:ring-2 focus:ring-green-500 focus:border-transparent">
                <option value="">Sort by...</option>
                <option value="id_asc">ID Ascending</option>
                <option value="id_desc">ID Descending</option>
            </select>
        </div>
        <div class="flex items-center space-x-4">
            <!-- Dropdown button -->
            <button id="dropdownExportButton" data-dropdown-toggle="dropdown"
                class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-white bg-green-600 border border-green-400 rounded-lg focus:outline-none hover:bg-green-600 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 "
                type="button">
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                </svg>
                Export
            </button>

            <!-- Dropdown menu -->
            <div id="dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownExportButton">
                    <li>
                        <button onclick="exportData('all')"
                            class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                            Export All Data
                        </button>
                    </li>
                    <li>
                        <button onclick="exportData('accepted')"
                            class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                            Export Accepted Reports
                        </button>
                    </li>
                    <li>
                        <button onclick="exportData('non_accepted')"
                            class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                            Export Non-Accepted Reports
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mb-4 sm:grid-cols-2 lg:grid-cols-3" id="reportContainer">
        {% for sighting in reported_sightings %}
        <div class="mb-4 overflow-hidden transition-shadow duration-200 ease-in-out bg-white rounded-lg shadow-lg hover:shadow-xl report-card"
            data-report-id="{{sighting.id}}"
            data-approved="{{ 'true' if sighting.dat_bear else 'false' }}"
            data-deleted="{{ 'true' if sighting.deleted else 'false' }}"            
            >
            <div class="relative">
                <img onclick="openImageModal('{{ url_for('admin.report_Img', filename=image_path + "/" +
                    sighting.fundort.ablage) }}')"
                    class="object-cover w-full h-48 transition-transform duration-200 ease-in-out rounded-t-lg cursor-pointer md:h-64 hover:scale-105"
                    src="{{ url_for('admin.report_Img', filename=image_path + "/" + sighting.fundort.ablage)}}"
                    alt="{{imagepath}}">
                <div class="p-4 md:p-6">
                    <div class="relative -mt-10 md:mt-0">
                        <div class="p-4 rounded-lg shadow-lg {{ 'bg-green-100' if sighting.approved }} bg-white">
                            <div class="flex flex-col items-baseline md:flex-row">
                                <span
                                    class="inline-block px-2 py-1 mb-2 text-xs font-semibold leading-none tracking-wide text-white uppercase bg-green-500 rounded-full md:mb-0">Report
                                    ID: {{ sighting.id }}</span>
                                {% if sighting.deleted %}
                                <span
                                    class="inline-block px-2 py-1 ml-2 text-xs font-semibold leading-none tracking-wide text-white uppercase bg-red-500 rounded-full">Deleted</span>
                                {% endif %}
                                {% if sighting.dat_bear %}
                                <div class="ml-0 text-xs font-semibold tracking-wide text-gray-600 md:ml-2 md:text-sm md:right-0"
                                title="BearbID: {{sighting.bearb_id}}&#13;&#10;BearbUsername: {{sighting.approver_username }}"
                                >
                                    <strong>Date Approved:</strong> {{ sighting.dat_bear }}<br>
                                    <strong>Approved By:</strong> <span class="truncate" title="BearbUsername: {{sighting.approver_username }}">{{ sighting.approver_username }}</span>
                                </div>
                                {% endif %}
                            </div>
                            <h4 class="mt-2 text-lg font-semibold leading-tight truncate md:text-xl"
                                title="Ort: {{sighting.ort}}&#13;&#10;Postleitzahl: {{sighting.plz}}&#13;&#10;Kreis: {{sighting.kreis}}&#13;&#10;Land: {{sighting.land}}">
                                Ort: {{sighting.kreis}} | {{sighting.ort}}
                            </h4>
                            <div class="mt-2">
                                <p class="text-sm"><strong>Melde-Datum:</strong> {{ sighting.dat_meld }}</p>
                                {% if sighting.dat_fund_bis %}
                                <p class="text-sm"><strong>Fund-Datum:</strong> {{ sighting.dat_fund_von }} - {{ sighting.dat_fund_bis}}</p>
                                {% else %}
                                <p class="text-sm"><strong>Fund-Datum:</strong> {{ sighting.dat_fund_von }}</p>
                                {% endif %}
                            </div>
                            <div class="flex flex-wrap items-center mt-3">
                                <button onclick="openModal({{sighting.id}})" style="min-width: 2 rem;"
                                    class="p-1 transition-colors duration-200 rounded focus:outline-none hover:bg-green-200">
                                    <img src="/static/images/svg/edit.svg" alt="Edit" class="w-4 h-4 md:w-5 md:h-5">
                                </button>
                                <button onclick="deleteSighting({{sighting.id}})"
                                    class="p-1 ml-2 transition-colors duration-200 rounded md:ml-4 focus:outline-none hover:bg-red-200"
                                    style="min-width: 2 rem;">
                                    <img src="/static/images/svg/delete.svg" alt="Delete" class="w-4 h-4 md:w-5 md:h-5">
                                </button>
                                <div class="inline-flex flex-wrap items-center mt-2 ml-2 md:mt-0 md:ml-auto">
                                    <div class="inline-flex flex-wrap items-center ml-auto">
                                        {% set total = ((sighting.art_m or 0) + (sighting.art_w or 0) +
                                        (sighting.art_n or 0) + (sighting.art_o or 0)) | int %}
                                        <select id="gender-{{sighting.id}}"
                                            class="px-2 py-2 mr-2 text-sm font-medium border border-green-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                                            onchange="changeGender({{sighting.id}})" {{ 'disabled' if sighting.dat_bear or
                                            total> 1
                                            }} >
                                            <option value="0" {{ 'selected' if total==0 }}>Unbekannt</option>
                                            <option value="M" {{ 'selected' if sighting.art_m==1 }}>Männchen</option>
                                            <option value="W" {{ 'selected' if sighting.art_w==1 }}>Weiblich</option>
                                            <option value="N" {{ 'selected' if sighting.art_n==1 }}>Nymphe</option>
                                            <option value="O" {{ 'selected' if sighting.art_o==1 }}>Oothek</option>
                                            <option value="F" {{ 'selected' if sighting.art_f==1 }}>Andere</option>
                                        </select>
                                        {% if sighting.dat_bear %}
                                        <span
                                            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-800 bg-green-100 rounded-md">
                                            Approved
                                        </span>
                                        {% else %}
                                        <button onclick="toggleApprove({{sighting.id}})"
                                            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                            Approve
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<div id="imageModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="imageModalLabel" tabindex="-1"
    title="Um das Bild weiter zu vergrößern klicken sie auf den Button unten">
    <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
        <div id="imageModalBackdrop" class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-full sm:w-11/12 md:w-3/4 lg:w-1/2 xl:w-1/3 sm:p-6">
            <div class="flex justify-center mt-2">
                <img id="modalImage" class="w-full max-h-[70vh] object-cover" src="" alt="Full Image View">
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button type="button" onclick="closeImageModal()"
                    class="inline-flex justify-center w-full px-4 py-2 mb-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mb-0 sm:ml-3 sm:w-auto sm:text-sm"
                    title="Schließen Sie das Fenster">
                    Close
                </button>
                <button type="button" onclick="openImageNewTab()"
                    class="inline-flex justify-center w-full px-4 py-2 mb-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mb-0 sm:ml-3 sm:w-auto sm:text-sm"
                    title="Öffnen Sie das Bild in einem neuen Tab">
                    <svg class="w-[16px] h-[16px] text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                    </svg>
                </button>
            </div>
            
        </div>
    </div>
</div>




<!-- Modal -->
<div id="modal" class="fixed inset-0 z-10 hidden overflow-y-auto bg-gray-500 bg-opacity-75">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full mx-4 bg-white rounded-lg shadow-xl md:max-w-3xl">
            <div class="p-6">
                <!-- Tab Buttons -->
                <div class="flex justify-center mb-4 space-x-2 md:space-x-4">
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-general-info">General Information</button>
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-location-info">Position auf der Karte</button>
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-user-info">User Information</button>
                </div>
                <!-- Tab Content -->
                <div id="tab-content" class="overflow-y-auto" style="max-height: 450px;">
                    <!-- Content will be loaded here -->
                </div>
                <!-- Actions -->
                <div class="flex justify-end mt-4 space-x-2">
                    <button type="button"
                        class="px-4 py-2 font-semibold text-white bg-green-500 rounded-lg focus:outline-none hover:bg-green-600"
                        onclick="saveChanges()">Speichern</button>
                    <button type="button"
                        class="px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded-lg focus:outline-none hover:bg-gray-300"
                        onclick="closeModal()">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let map;
    let marker;



    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("sortInput").value = "id_asc";
        sortReports();
    });

    function sortReports() {
        let input = document.getElementById('sortInput').value;
        let cards = Array.from(document.getElementsByClassName('report-card'));

        cards.sort((a, b) => {
            let idA = a.getAttribute('data-report-id');
            let idB = b.getAttribute('data-report-id');
        
            switch (input) {
                case 'id_asc':
                    return idA - idB;
                case 'id_desc':
                    return idB - idA;
                default:
                    return 0; // Default case to handle unexpected values
            }
        });

        let container = document.getElementById('reportContainer');

        cards.forEach((card) => {
            container.appendChild(card);
        });
    }

    function changeGender(id) {
        const selectElement = document.getElementById(`gender-${id}`);
        const newGender = selectElement.value;

        fetch(`/change_mantis_gender/${id}`, {
            method: 'POST',
            body: new URLSearchParams({ new_gender: newGender }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                } else {
                    console.error('Failed to change gender:', data.error);
                }
            });
    }

    function searchReports() {
        // Get input value
        let input = document.getElementById('searchInput').value.toLowerCase();
        let cards = document.getElementsByClassName('report-card');

        // Hide or show cards based on input
        for (let i = 0; i < cards.length; i++) {
            let id = cards[i].getAttribute('data-report-id');
            if (id.toLowerCase().includes(input)) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("sortInput").value = "id_asc";
        sortReports();

        // Add click event listeners for the modal backdrops
        document.getElementById('imageModalBackdrop').addEventListener('click', closeImageModal);
        //document.getElementById('modalBackdrop').addEventListener('click', closeModal);
    });



    // Function to toggle approve a sighting
    function toggleApprove(id) {
        fetch('/toggle_approve_sighting/' + id, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the approved card from the view
                    removeCardFromView(id);
                } else {
                    console.error('Failed to change approval status:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function fetchReport(id) {
        fetch('/get_sighting/' + id)
            .then(response => response.json())
            .then(data => {
                openModal(data);
            })
            .catch(error => console.error('Error:', error));
    }

    function openModal(id) {
        document.body.style.overflow = 'hidden';
        clearTabClickListeners();
        fetch('/get_sighting/' + id)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                let tabGeneralInfo = document.getElementById('tab-general-info');
                let tabLocationInfo = document.getElementById('tab-location-info');
                let tabUserInfo = document.getElementById('tab-user-info');
                let tabContent = document.getElementById('tab-content');
    
                // Set initial content
                tabContent.innerHTML = generateGeneralInfo(data);
                setActiveTab(tabGeneralInfo);
    
                // Add click listeners to tab buttons
                addTabClickListener(tabGeneralInfo, generateGeneralInfo, data);
                addTabClickListener(tabLocationInfo, generateLocationInfo, data);
                addTabClickListener(tabUserInfo, generateUserInfo, data);
    
                // Show the modal
                document.getElementById('modal').classList.remove('hidden');
    
                // Disable inputs if the sighting has been approved
                let reportCard = document.querySelector(`[data-report-id="${id}"]`);
                let isApproved = reportCard.getAttribute('data-approved') === 'true';
                disableInputsIfApproved(isApproved);
            })
            .catch(error => console.error('Error:', error));
    }
    
    
    function disableInputsIfApproved(isApproved) {
        let inputs = document.querySelectorAll('.input-field-admin');
        inputs.forEach(input => {
            input.disabled = isApproved;
        });
    }
    

    function addTabClickListener(tabElement, contentGenerator, data) {
        let isApproved = document.querySelector(`[data-report-id="${data.id}"]`).getAttribute('data-approved') === 'true';
        tabElement.onclick = function() {
            if (!this.classList.contains('active')) {
                document.getElementById('tab-content').innerHTML = contentGenerator(data);
                setActiveTab(this);
                disableInputsIfApproved(isApproved);
    
                if (contentGenerator === generateLocationInfo) {
                    initiateMap(data);
                }
            }
        };
    }

    function clearTabClickListeners() {
        let tabGeneralInfo = document.getElementById('tab-general-info');
        let tabLocationInfo = document.getElementById('tab-location-info');
        let tabUserInfo = document.getElementById('tab-user-info');
    
        tabGeneralInfo.onclick = null;
        tabLocationInfo.onclick = null;
        tabUserInfo.onclick = null;
    }
    
    
    function initiateMap(data) {
        setTimeout(function () {
            let lat = parseFloat(data.latitude.replace(',', '.'));
            let lng = parseFloat(data.longitude.replace(',', '.'));
            let map = L.map('map').setView([lat, lng], 13);
    
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);
    
            L.marker([lat, lng]).addTo(map);
    
            // Redraw tiles after the modal is shown
            map.invalidateSize();
        }, 0);
    }    

    function changeGenderCount(id, type, newCount) {
        fetch(`/change_mantis_count/${id}`, {
            method: 'POST',
            body: new URLSearchParams({ type: type, new_count: newCount }),
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                } else {
                    console.error('Failed to change count:', data.error);
                }
            });
    }



    function setActiveTab(tab) {
        // Remove 'active' class from all tabs
        let tabs = [document.getElementById('tab-general-info'), document.getElementById('tab-location-info'), document.getElementById('tab-user-info')];
        tabs.forEach(t => t.classList.remove('active'));
        // Add 'active' class to the selected tab
        tab.classList.add('active');
    }


    function openImageModal(imageUrl) {
        document.body.style.overflow = 'hidden';
        document.getElementById('modalImage').src = imageUrl;
        document.getElementById('imageModal').style.display = 'block';
    }

    function closeImageModal() {
        document.getElementById('imageModal').style.display = 'none';
        document.body.style.overflow = 'auto';
    }

    function openImageNewTab() {
        let modalImage = document.getElementById('modalImage');
        window.open(modalImage.src, '_blank');
    }

    function generateGeneralInfo(data) {
        let mantis_types = ['Männchen', 'Weiblich', 'Nymphe', 'Oothek', 'Andere', 'Anzahl'];
        let gender_counts = [data.art_m, data.art_w, data.art_n, data.art_o, data.art_f, data.tiere];
    
        let html = `<div class="flex flex-col md:flex-row md:space-x-6">
                        <div class="md:w-1/2">
                            ${mantis_types.map((type, i) => `
                                <div class="flex items-center">
                                    <label for="mantis-count-${type}" class="w-32 my-4 mr-2 font-semibold">${type}</label>
                                    <input id="mantis-count-${type}" type="number" min="0" value="${gender_counts[i]}" onchange="changeGenderCount(${data.id_meldung}, '${type}', this.value)"
                                        class="input-field-admin" >
                                    
                                </div>
                            `).join('')}

                        </div>
                        <div class="space-y-4 md:w-1/2">
                            <p class="mb-4"><strong>Report ID:</strong> ${data.id_meldung}</p>
                            <p class="mb-4"><strong>Date Reported:</strong> ${data.dat_meld.replace(/\d{2}:\d{2}:\d{2} GMT/, '')}</p>
                        </div>
                    </div>
                    <p class="mt-6 mb-2 font-semibold">Details:</p>
                    <div class="px-3 py-2 overflow-auto bg-gray-100 rounded-lg details-text" style="max-height: 150px;">${data.anm_melder.replace(/\n/g, '<br />')}</div>`;
        return html;
    }
    
    

    function generateUserInfo(data) {
        return `<p><strong>User Name:</strong> ${data.user_name}</p>
                <p><strong>User Email:</strong> ${data.user_kontakt}</p>
                <p><strong>User ID:</strong> ${data.user_id}</p>
                <p><strong>User Role:</strong> ${data. user_rolle}</p>`;
    }


    function generateLocationInfo(data) {
        // Convert location info into HTML string
        return `<p><strong>Location ID:</strong> ${data.fo_zuordnung}</p>
                <div id="map" style="height: 400px; width: 100%;"></div>`;
    }


    function closeModal() {
        // Hide modal
        document.body.style.overflow = 'auto';
        document.getElementById('modal').classList.add('hidden');
        clearTabClickListeners(); // Clear listeners when the modal is closed
    }   

    function saveChanges() {
        // Save changes to report details
        // This will require additional setup based on how you want to edit the details
    }

    // Function to delete a sighting
    function deleteSighting(id) {
        let confirmDelete = confirm('Are you sure you want to delete this sighting? This action cannot be undone.');
        if (confirmDelete) {
            fetch('/delete_sighting/' + id, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    // Remove the deleted card from the view
                    removeCardFromView(id);
                })
                .catch(error => console.error('Error:', error));
        }
    }

    function removeCardFromView(id) {
        let card = document.querySelector(`[data-report-id="${id}"]`);
        let followingCards = Array.from(document.querySelectorAll(`[data-report-id]`)).slice(Array.from(document.querySelectorAll(`[data-report-id]`)).indexOf(card) + 1);

        card.classList.add('fade-out');

        // Allow animation to complete before removing the card
        setTimeout(function () {
            card.remove();
            // add slide in animation to following cards
            followingCards.forEach((followingCard) => {
                followingCard.classList.add('slide-in');
                setTimeout(() => {
                    followingCard.classList.remove('slide-in');
                }, 500);
            });
        }, 500); // matches the duration of the fade-out animation
    }

    function exportData(exportType) {
        var exportButton = document.getElementById("dropdownExportButton");
        // Add loading animation to the button
        exportButton.innerHTML = '<svg class="w-5 h-5 mx-auto text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>';
        var url = "/admin/export/xlsx/" + exportType;
        window.location.href = url;

        // Set a timer to reset the button after 5 seconds
        setTimeout(function () {
            exportButton.innerHTML = 'Export<svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" /></svg>';
        }, 5000); // adjust the time as necessary
    }


    let showApprovedSightings = false;
    let showDeletedSightings = false;
    
    function toggleApprovedSightings() {
        var label = document.getElementById("checkbox-label");
    
        showApprovedSightings = !showApprovedSightings;
        filterSightings();
    
        label.innerHTML = showApprovedSightings ? "Bestätigt" : "Unbestätigt";
    }
    
    function toggleDeletedSightings() {
        var label = document.getElementById("checkbox-label-deleted");
    
        showDeletedSightings = !showDeletedSightings;
        filterSightings();
    
        label.innerHTML = showDeletedSightings ? "Gelöscht" : "Nicht gelöscht";
    }

    // Function to filter sightings based on the toggle state
    function filterSightings() {
        let cards = Array.from(document.getElementsByClassName('report-card'));
    
        cards.forEach(card => {
            let isApproved = card.getAttribute('data-approved') === 'true';
            let isDeleted = card.getAttribute('data-deleted') === 'true';
            let reportId = card.getAttribute('data-report-id');
    
            // Determine if the card should be shown
            let showCard = true;
    
            if (showApprovedSightings && !isApproved) {
                showCard = false;
            }
    
            if (showDeletedSightings && !isDeleted) {
                showCard = false;
            }
    
            if (!showApprovedSightings && isApproved) {
                showCard = false;
            }
    
            if (!showDeletedSightings && isDeleted) {
                showCard = false;
            }
    
            // Hide or show the card based on the final decision
            if (showCard) {
                card.classList.remove('hidden');
            } else {
                card.classList.add('hidden');
            }
        });
    }
    

    // Call the filterSightings function initially to apply the default filter
    document.addEventListener('DOMContentLoaded', (event) => {
        var label = document.getElementById("checkbox-label");

        if (showApprovedSightings) {
            label.innerHTML = "Bestätigt";
        } else {
            label.innerHTML = "Unbestätigt";
        }

        filterSightings();
    });
</script>


{% endblock content %}
