{% extends "layout.html" %}
{% from "macro.html" import render_field %}
{% block title %}Review neuer Meldungen{% endblock title %}
{% block content %}
<!--Admin Sample Page-->
<div class="container px-4 py-2 mx-auto">

  <form action="http://localhost:5000/reviewer" method="post">
    <p>ID eingeben (min: 2, max: 537):</p>
    <p><input type="text" name="id" /></p>
    <p class="mt-5 font-bold">Datensatz: {{result['id']}}</p>
    <dl>
      {% if form %}
      <p>Vergleichen Sie das Bild mit den eingtragenen Werten.</p>
      <div class="flex flex-row">
        <div class="basis-1/4">
          {{ render_field(form.art_w) }}
          {{ render_field(form.art_m) }}
          {{ render_field(form.art_n) }}
          {{ render_field(form.art_o) }}
        </div>
        <div class="basis-3/4">

          <img src="{{url_for('reviewer.imagedata',
		  filename= result['ablage']) }}" alt="Mantis-Meldung" class="object-contain h-48 w-96 " />
          <p class="mt-4">Hier fehlt nich die vergrößerte Ansicht...</p>
        </div>
        {% endif %}
    </dl>

    {% if not form %}
    Bitte einen Datensatz über die ID auswählen...
    {% endif %}
    <p class="pt-4">
      <input type="submit" value="Änderugen speichern" class="inline-block rounded  px-6 pb-2 pt-2.5 text-xs
		    font-medium uppercase leading-normal text-white
		    shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150
		    ease-in-out hover:bg-primary-600 bg-green-900" />
    </p>
  </form>
  <p class="mt-5 mb-5 font-bold">Weitere Informationen zum Datensatz</p>
  <div class="grid grid-cols-6 gap-4">
    <p>Benutzerkennung:</p>
    <p class="col-span-5">{{result['user_id']}}</p>
    <p>Funddatum (von):</p>
    <p class="col-span-5"> {{result['dat_fund_von']}}</p>
    <p>Funddatum (bis):</p>
    <p class="col-span-5"> {{result['dat_fund_bis']}}</p>
    <p>Meldedatum:</p>
    <p class="col-span-5"> {{result['dat_meld']}}</p>
    <p>Bearbeitungsdatum:</p>
    <p class="col-span-5"> {{result['dat_bear']}}</p>
    <p>Fundort (Quelle):</p>
    <p class="col-span-5"> {{result['fo_quelle']}}</p>
    <p>Anmerkung (Melder):</p>
    <p class="col-span-5"> {{result['anm_melder']}}</p>
    <p>Anmerkung (Barbeiter):</p>
    <p class="col-span-5"> {{result['anm_bearbeiter']}}</p>
    <p>Sonstige Anmerkungen:</p>
    <p class="col-span-5"> {{result['beschreibung']}}</p>
    <p>Benutername:</p>
    <p class="col-span-5"> {{result['user_name']}}</p>
    <p>Kontakt:</p>
    <p class="col-span-5"> {{result['user_kontakt']}}</p>
    <p>Postleitzahl:</p>
    <p class="col-span-5"> {{result['plz']}}</p>
    <p>Ort:</p>
    <p class="col-span-5"> {{result['ort']}}</p>
    <p>Straße:</p>
    <p class="col-span-5"> {{result['strasse']}}</p>
    <p>Bundesland:</p>
    <p class="col-span-5"> {{result['land']}}</p>
    <p>Landkreis/Stadt:</p>
    <p class="col-span-5"> {{result['kreis']}}</p>
    <p>Amt:</p>
    <p class="col-span-5"> {{result['amt']}}</p>
    <p>Meßtischblatt:</p>
    <p class="col-span-5"> {{result['mtb']}}</p>
    <p>Längengrad:</p>
    <p class="col-span-5"> {{result['longitude']}}</p>
    <p>Breitengrad:</p>
    <p class="col-span-5"> {{result['latitude']}}</p>
    <p>Bildablage:</p>
    <p class="col-span-5"> {{result['ablage']}}</p>
  </div>

  <!--p><input type=submit value=Register-->

</div>

{% endblock content %}