<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404</title>
    <!--Tailwind CSS build file-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='build/theme.css') }}"
    />
    <script src="{{ url_for('static', filename='js/flow/flowbite.min.js')}}"></script>
    <style>
      /* Add some CSS for mantis and animation */
      .mantis {
        width: 150px;
        height: auto;
        margin: 0 auto;
      }
      .blink {
        animation: blink 1.5s linear infinite;
      }
      @keyframes blink {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
      }
    </style>
  </head>

  <body>
    <div class="grid h-screen px-4 bg-gray-100 place-content-center">
      <div class="text-center">
        <div class="mantis">
          <img
            id="mantis"
            src="{{ url_for('static', filename='/images/svg/praying-mantis.svg')}}"
            alt="Mantis Illustration"
          />
        </div>
        <h1 class="font-black text-green-300 text-9xl">404</h1>

        <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Uh-oh! Even the mantis is lost!
        </p>

        <p class="mt-4 mb-4 text-gray-500">We can't find that page.</p>

        <a
          href="/"
          class="relative px-10 py-3 overflow-hidden font-medium text-white transition-all transition duration-300 ease-out bg-green-600 rounded-md group hover:bg-gradient-to-r hover:from-green-600 hover:to-green-500 hover:ring-2 hover:ring-offset-2 hover:ring-green-500"
        >
          <span class="absolute bottom-0 left-0 h-full -ml-2">
            <svg
              viewBox="0 0 487 487"
              class="w-auto h-full opacity-100 object-stretch"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z"
                fill="#e5e7eb"
                fill-rule="nonzero"
                fill-opacity=".1"
              ></path>
            </svg>
          </span>
          <span class="absolute top-0 right-0 w-12 h-full -mr-3">
            <svg
              viewBox="0 0 487 487"
              class="object-cover w-full h-full"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z"
                fill="#FFF"
                fill-rule="nonzero"
                fill-opacity=".1"
              ></path>
            </svg>
          </span>
          <span
            class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"
          ></span>
          <span class="relative text-lg">Go back home</span>
        </a>
      </div>
    </div>

    <script>
      // Add some JS to make mantis blink
      const mantis = document.getElementById("mantis");
      setInterval(() => {
        mantis.classList.toggle("blink");
      }, 5000);
    </script>
  </body>
</html>
