{% extends "layout.html" %}
{% block meta_keywords %}
Gottesanbeterin Auswertungen, Statistiken, Mantis religiosa Verteilung, Beobachtungsdaten, Brandenburg, Berlin
{% endblock %}
{% endblock %}

{% block title %}Auswertungen{% endblock title %}
{% block content %}
<div class="container flex flex-col p-6 mx-auto lg:flex-row lg:mb-0 lg:max-w-6xl">
  <h1 class="mb-4 text-2xl font-semibold">
    Todo: Karte mit Markern für Fundmeldungen
  </h1>
</div>
{% endblock content %}
