{% extends "layout.html" %} 
{% block title %}Datenschutz{% endblock title %}
{% block content %}
  <div class="container flex-row p-6
	      mx-auto lg:flex-row lg:mb-0
	      max-w-6xl">
    <div class="flex flex-col">
      <div>
	<h2 class="font-semibold">Allgemeine Hinweise</h2>
	<p>
	  Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
	  Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen.
	  Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
	  identifiziert werden können. Ausführliche Informationen zum Thema
	  Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
	  Datenschutzerklärung.
	</p>
	<h2 class="font-semibold pt-3">Datenerfassung auf unserer Website</h2>
	<h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
	<p>
	  Die Datenverarbeitung auf dieser Website erfolgt durch den
	  Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser
	  Website entnehmen.
	</p>
	<h2 class="font-semibold pt-3">Wie erfassen wir Ihre Daten?</h2>
	<p>
	  Ihre Daten werden dadurch erhoben, dass Sie uns diese mitteilen.
	  Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular
	  eingeben. <br />
	  <br />Andere Daten werden automatisch beim Besuch der Website durch unsere
	  IT-Systeme erfasst. Das sind vor allem technische Daten (z.&thinsp;B.
	  Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
	  Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website
	  aufrufen.
	</p>
	<h2 class="font-semibold pt-3">Wofür nutzen wir Ihre Daten?</h2>
	<p>
	  Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
	  Website zu gewährleisten. Andere Daten können zur Analyse Ihres
	  Nutzerverhaltens verwendet werden.
	</p>
	<h2 class="font-semibold pt-3">Welche Rechte haben Sie bezüglich Ihrer Daten?</h2>
	<p>
	  Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft,
	  Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
	  erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder
	  Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum
	  Thema Datenschutz können Sie sich jederzeit unter der im Impressum
	  angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein
	  Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
	</p>
	<h2 class="font-semibold pt-3">2. Allgemeine Hinweise und Pflichtinformationen</h2>
	<h3  class="font-semibold pt-3 pb-3">Datenschutz</h3>
	<p>
	  Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
	  sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
	  entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
	  Datenschutzerklärung. <br />
	  <br />Wenn Sie diese Website benutzen, werden verschiedene
	  personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit
	  denen Sie persönlich identifiziert werden können. Die vorliegende
	  Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie
	  nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht. <br />
	  <br />Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&thinsp;B.
	  bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
	  lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
	  möglich.
	</p>
	<h3 class="font-semibold pt-3 pb-3">Hinweis zur verantwortlichen Stelle</h3>
	<p>
	  Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website
	  ist: <br />
	  <br /> Peter Koppatz<br />E-Mail: peter.koppatz@th-wildau.de
	  <br /> Schmerberger Weg 92a
	  <br /> 14548 Schwielowsee/Caputh
	  <br />
	  <br />Verantwortliche Stelle ist die natürliche oder juristische Person,
	  die allein oder gemeinsam mit anderen über die Zwecke und Mittel der
	  Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o.
	  Ä.) entscheidet.
	</p>
	<h3 class="font-semibold pt-3 pb-3">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
	<p>
	  Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
	  Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
	  jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an
	  uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung
	  bleibt vom Widerruf unberührt.
	</p>
	<h3 class="font-semibold pt-3 pb-3">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
	<p>
	  Im Falle datenschutzrechtlicher Verstöße stehen den Betroffenen ein
	  Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige
	  Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der
	  Landesdatenschutzbeauftragte des Bundeslandes Brandenburg, in dem unser Unternehmen
	  seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren
	  Kontaktdaten können folgendem Link entnommen werden:
	  <a href="https://www.bfdi.bund.de">https://www.bfdi.bund.de</a>.
	</p>
	<h3 class="font-semibold pt-3 pb-3">Recht auf Datenübertragbarkeit</h3>
	<p>
	  Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder
	  in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an
	  einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu
	  lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen
	  Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
	  ist.
	</p>
	<h3 class="font-semibold pt-3 pb-3">SSL- bzw. TLS-Verschlüsselung</h3>
	<p>
	  Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
	  vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die
	  Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung.
	  Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile
	  des Browsers von “http://” auf “https://” wechselt und an dem
	  Schloss-Symbol in Ihrer Browserzeile. <br />
	  <br />Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die
	  Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
	</p>
	<h3 class="font-semibold pt-3 pb-3">Auskunft, Sperrung, Löschung</h3>
	<p>
	  Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
	  Recht auf unentgeltliche Auskunft über Ihre gespeicherten
	  personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
	  Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder
	  Löschung dieser Daten. 
	</p>
	<h3 class="font-semibold pt-3 pb-3">Widerspruch gegen Werbe-Mails</h3>
	<p>
	  Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
	  Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung
	  und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der
	  Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
	  unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails,
	  vor.
	</p>
      </div>
    </div>
  </div>


{% endblock content %}
