{% extends "layout.html" %}
{% block title %}Gottesanbeterin gesucht!{% endblock title %}

{% block content %}

<!--Projektbeschreibung section -->
<section id="Projektbeschreibung" class="relative pt-16">
  <div class="grid grid-cols-1 gap-6 px-2 md:grid-cols-2 md:px-4 lg:grid-cols-3 xl:px-8">

    <div
      class="mx-auto transition-transform duration-500 ease-in-out transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger06.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          Über das Projekt
        </h3>
        <p class="text-center text-gray-600">
          Das Naturkundemuseum Potsdam und die Mantidenfreunde
          Berlin-Brandenburg suchen nach der Europäischen Gottesanbeterin (<i>Mantis religiosa</i> L. 1758).
          Bereits seit 2016 werden Fundmeldungen der Fangschrecke gesammelt. Dabei sind wir
          auf die Unterstützung der Brandenburger und Berliner angewiesen. Jeder ist
          aufgerufen seine Begegnungen mit der Lauerjägerin mitzuteilen. Hand in Hand mit
          Wissenschaftlern und Wissenschaftlerinnen können wir so die Ausbreitung der
          Gottesanbeterin in der Region erforschen. Siehe auch:

          <a class="block pt-2 text-sm font-semibold text-blue-600 underline hover:text-blueGray-800"
            href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht" target="_blank">
            Naturkundemuseum Potsdam</a>
        </p>
      </div>
    </div>

    <div
      class="mx-auto transition-transform duration-500 ease-in-out transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger03.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <p class="mb-2 text-xl font-semibold text-center text-gray-800">
          ÜBER <i>Mantis religiosa</i> L. 1758
        </p>
        <p class="text-center text-gray-600">
          Die Europäische Gottesanbeterin ist die einzige von etwa
          2.400 Fangschrecken-Arten, die in Deutschland vorkommt. Mit
          ihren unter der Vorderbrust wie zum Gebet gefalteten
          Vorderbeinen ist sie gut von anderen Insekten zu
          unterscheiden. Die sehr geschickte und gut getarnte
          Lauerjägerin macht durch ihre Lebensweise die Suche nach ihr
          schwierig. Aus diesem Grunde sind wir auf Ihre Hilfe
          angewiesen.Sie ernährt sich vor allem von anderen
          Kerbtieren. Die Unterstützung durch die Melder in den
          vergangenen Jahren weit über die Landesgrenzen hinaus war
          sehr überwältigend.
          <br />
          Mehr Informationen über die Gottesanbeterin finden Sie auf
          dem folgenden Link:
          <a class="block pt-2 text-sm font-semibold text-blue-600 underline transition-transform duration-500 ease-in-out hover:text-blueGray-800"
            href="/mantis-religiosa">
            <i> Mantis religiosa </i> L. 1758</a>

        </p>
      </div>
    </div>

    <div
      class="mx-auto transition-transform duration-500 ease-in-out transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger10.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          Was passiert mit meiner Meldung?
        </h3>
        <p class="text-center text-gray-600">
          Jede Fundmeldung wird überprüft und in einer Datenbank
          erfasst. Ihr Bild dient dabei ausschließlich der Absicherung des
          Fundes. Es wird nicht weiterverwendet, nicht veröffentlicht und nicht
          weitergegeben. Mit Hilfe Ihrer wertvollen Angaben zum Bild können dann
          Verbreitungskarten erstellt werden, die die aktuelle Verbreitung der
          Gottesanbeterin zeigen. Von Jahr zu Jahr können wir so gemeinsam die
          Ausbreitung der Gottesanbeterin nachverfolgen.
        </p>
        <p class="text-center text-gray-600">
          Weiterführende Hinweise finden Sie in der:
          <a class="block pt-2 text-sm font-semibold text-blue-600 underline hover:text-blueGray-800" href="/faq">
            FAQ (Häufig gestellte Fragen)</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Animated counter section -->
<section class="py-16 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="relative px-8 py-12 bg-green-800 rounded-lg shadow-2xl"> <!-- Made the shadows darker -->
      <h2 class="mb-8 text-3xl font-bold leading-tight text-center text-white">
        Wir haben bereits <br />
        <span class="font-extrabold text-white text-7xl counter" data-target="{{ post_count }}">0</span> <br />
        <!-- Increased the font size to make the count more prominent -->
        Meldungen erhalten
      </h2>
      <p class="mb-8 text-xl text-center text-white"> <!-- Increased the font size to make it more readable -->
        Helfen Sie uns, diese Zahl zu erhöhen!
      </p>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var counter = document.querySelector('.counter');
    var target = parseInt(counter.getAttribute('data-target'));
    var observer = new IntersectionObserver(function (entries) {
      if (entries[0].isIntersecting === true) {
        var interval = setInterval(function () {
          var current = parseInt(counter.innerText);
          if (current < target) {
            counter.innerText = current + 1;
          } else {
            clearInterval(interval);
          }
        }, 100);
      }
    }, { threshold: [1] });
    observer.observe(counter);
  });
</script>

{% endblock content %}