{% extends "layout.html" %}
{% block title %}Fundmeldungen 2023{% endblock title %}
{% block meta_keywords %} Auswertungen, Karte,
Gottesanbeterin, Mantis religiosa Auswertungen {% endblock %}
{% block text %} Übersicht zu allen bestätigten Meldungen. {% endblock text %}
{% block content %}
<section class="container mx-auto mt-10">
  <h2 class="mb-6 text-3xl font-semibold text-center">Bestätigte Meldungen Karte</h2>
  <div class="container flex flex-row p-6">
    <div id="map" class="object-fill h-screen bg-white rounded-lg shadow-md grow auto-rows-max"></div>
  </div>
</section>

<!-- Animated counter section -->
<section class="py-16 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="relative px-8 py-12 bg-green-800 rounded-lg shadow-lg">
      <h2 class="mb-8 text-3xl font-bold leading-tight text-center text-white">
        Wir haben bereits <br />
        <span class="text-6xl font-extrabold text-white counter" data-target="{{ post_count }}">0</span> <br />
        Meldungen erhalten
      </h2>
      <p class="mb-8 text-lg text-center text-white">
        Helfen Sie uns, diese Zahl zu erhöhen! <br /><br />
        <a class="underline text-white-700" href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht">
          Besuchen Sie auch die Informationsseite des Naturkundemuseum Potsdam
        </a>
      </p>
    </div>
  </div>
</section>


<script>
  // Counter animation
  const counter = document.querySelector('.counter');
  const target = +counter.dataset.target;
  const observer = new IntersectionObserver(entries => {
    if (entries[0].isIntersecting) {
      let count = 0;
      const interval = setInterval(() => {
        counter.innerText = count++;
        if (count > target) clearInterval(interval);
      }, Math.round(2000 / target));
      observer.disconnect();
    }
  });
  observer.observe(counter);


  // First Map:
  let map;
  let userMarker;
  mapApiKey = "{{apikey}}"

  function initMap() {
    map = L.map('map').setView([51.991649, 13.080113], 9);

    // Define map layers
    const openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 11,
    });

    const arcGISLayer = L.esri.Vector.vectorBasemapLayer("ArcGIS:Imagery", {
      apikey: mapApiKey // Add your actual API key here
    });

    // Add default layer to the map
    map.addLayer(openStreetMapLayer);

    // Layer switcher control
    var baseMaps = {
      "Karte": openStreetMapLayer,
      "Satellit": arcGISLayer
    };

    L.control.layers(baseMaps).addTo(map);

    var reports = JSON.parse('{{ reportsJson | safe }}');
    for (var i = 0; i < reports.length; i++) {
      var report = reports[i];
      const marker = L.marker([report.latitude, report.longitude]).addTo(map)
    };
  };
  initMap();
</script>

{% endblock content %}

