{% extends "layout.html" %}
{% from "macro.html" import popover %}
{% from "macro.html" import formButton %}
{% block head %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block page_title %}Mantis Religiosa Beobachtungen Melden{% endblock %}
{% block title %}Fund melden{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div style="z-index: 999" id="toast-interactive-{{ loop.index }}"
  class="fixed max-w-2xl px-4 py-2 text-gray-500 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow toast top-1/4 left-1/2 min-h-16"
  role="alert">
  <div class="flex">
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
      <span class="sr-only">Notification icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">
      <p class="mb-1 text-sm font-semibold text-gray-900 break-all ">{{ message.title }}</p>
      <p class="text-gray-800 ">{{ message.message }}</p>
    </div>
    <button type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 "
      data-dismiss-target="#toast-interactive-{{ loop.index }}" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full p-4 mx-auto max-w-7xl">
    <form action="" method="POST" enctype="multipart/form-data" id="mainForm" data-current-step="0"
      class="p-8 transition-all duration-500 bg-white shadow-xl rounded-2xl">
      {{ form.hidden_tag() }}
      <!-- Step 1: Bild-Upload -->
      <div id="step1" class="step" data-step-index="0">
        <div class="mb-4">
          <div class="flex justify-between">
            {{ form.picture.label.text }}
            {{ popover("popover-picture", "Info zum Bild-Upload",
            "Anhand des Bildes können wir Ihre Bestimmung überprüfen. Ist Ihr Fund von uns überprüft und freigegeben,
            erscheint er in der Karte. Die Bilder werden nicht weiterverwendet. Ihre Urheberrechte bleiben
            unberührt.") }}
          </div>
          <div class="flex items-center justify-center w-full">
            <label for="{{ form.picture.id }}"
              class="flex flex-col items-center justify-center w-full h-64 transition-all duration-500 ease-in-out border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 ">
              <div id="imagePreview"
                class="flex-col items-center justify-center hidden w-full h-64 overflow-hidden transition-all duration-500 ease-in-out fade-in">
                <img id="previewImage" class="object-scale-down w-full h-full" src="#"
                  alt="Preview image of the mantis">
              </div>
              <div id="uploadText"
                class="flex flex-col items-center justify-center pt-5 pb-6 transition-all duration-500 ease-in-out">
                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400 animate-bounce" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload
                    image...</span></p>
                <p class="text-xs text-gray-500 ">PNG, JPG, JPEG or WEBP (Max. 800x400px)</p>
              </div>
              {{ form.picture(class="hidden", id=form.picture.id, accept="image/*") }}
            </label>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div>
            <label for="{{ form.longitude.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.longitude.label.text }}
                {{ popover("popover-longitude", "Koordinaten",
                "Der Längengrad wird automatisch angegeben, sobald Sie den Marker an der untenstehenden Karte setzen.")
                }}
              </div>
              <div class="relative">
                {{ form.longitude(class="input-field") }}
              </div>
            </label>
          </div>
          <div>
            <label for="{{ form.latitude.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.latitude.label.text }}
                {{ popover("popover-latitude", "Koordinaten",
                "Der Breitengrad wird automatisch angegeben, sobald Sie den Marker an der untenstehenden Karte setzen.")
                }}
              </div>
              <div class="relative">
                {{ form.latitude(class="input-field") }}
              </div>
            </label>
          </div>
        </div>
        <div class="col-span-full">
          <label for="map" class="block mt-1 text-sm font-semibold text-gray-600">
            <div class="flex justify-between">
              {{ "Karte: Setzen Sie den Marker in der Karte, die Koordinaten werden automatisch übernommen. Umschaltung
              zw. Satelitenbild und Kartenansicht (siehe Symbol am rechten Rand)." }}
              {{ popover("popover-map", "Karte",
              " Benutzen Sie die Zoom-Funktion (+ und - Button oder
              mittleres Mausrad),sezten Sie mit einem Klick die
              Marke. Die linke Maustaste verschiebt die Karte. Die
              Koordinaten werden dann automatisch ins Formular
              übernommen.
              Sie können die Koordinaten auch ganz
              einfach in Google Maps ermitteln. Wechselns Sie zu
              Google Maps. Suchen Sie die Stelle in der Karte und
              markieren Sie diese mit einem Rechtsklick ihrer Mouse.
              Es öffnet sich ein Fenster, in dem ganz oben die
              Koordinaten angezeigt werden, z.B. 52.395952,
              13.050901. Wählen Sie die Koordinaten mit einem
              Linksklick mit der Maus an. Nun sind sie kopiert und
              können in dieses Feld eingefügt werden (Strg + V oder
              mit dem Befehl Einfügen).

              ")
              }}
            </div>
          </label>
          <div id="map" class="h-64 border shadow-md sm:h-96 lg:h-96"></div>
        </div>

        <div class="flex justify-end mt-4 space-x-2">
          {{ formButton('step1Next', 'Weiter') }}
        </div>
      </div>

      <!-- Step 2: Beschreibung Ort und Fund -->
      <div id="step2" class="hidden step" data-step-index="1">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div>
            <label for="{{ form.street.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.street.label.text }}
                {{ popover("popover-street", "Straße",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Straßennamen ein.") }}
              </div>
              <div class="relative">
                {{ form.street(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.state.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.state.label.text }}
                {{ popover("popover-bundesland", "Bundesland",
                "Falls der Wert nicht korrekt eingelesen wurde, ergänzen Sie bitte den Namen des Bundeslandes.") }}
              </div>
              <div class="relative">
                {{ form.state(id="state", class="input-field") }}
              </div>
            </label>
            <label for="{{ form.district.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.district.label.text }}
                {{ popover("popover-bezirk", "Landkreis/Stadtteil",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Landkreis/Stadtteil ein.") }}
              </div>
              <div class="relative">
                {{ form.district(id="district", class="input-field") }}
              </div>
            </label>

            <label class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.gender.label.text }}
                <a href="/bestimmung" target="_blank"
                  class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold text-blue-600 sm:text-xs hover:text-blue-800 hover:underline "
                  title="Anleitung zur Bestimmung in neuem Tab öffnen">
                  Anleitung zur Bestimmung
                </a>
                <button data-popover-target="popover-gender" type="button" class="pl-2 pr-1 text-black">
                  <svg class="w-4 h-4 text-gray-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </div>
              <div data-popover id="popover-gender" role="tooltip"
                class="absolute z-50 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 ">
                <div
                  class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg ">
                  <h3 class="font-semibold text-green-900 ">
                    Entwicklungsstadium/Geschlecht
                  </h3>
                </div>
                <div class="px-3 py-2 bg-green-100">
                  <p>
                    Dieses Feld ist eine kleine Herausforderung für
                    den Melder. Traun Sie sich zu, das Geschlecht
                    oder das Entwicklungsstadium zu bestimmen?
                    Die Merkmale für die Bestimmung sind auf
                    folgender Seite genau beschrieben:
                    <a class="block pb-2 text-sm font-semibold text-blue-600 hover:text-blueGray-800" href="/bestimmung"
                      target="_blank">
                      Link: Hilfe zur Bestimmung <br />(öffnet neuen Tab)</a>
                    In jedem Fall werden sie nach einer Bewertung
                    durch Fachleute über das Ergebnis informiert.
                    <br />
                    Versuchen Sie es!
                  </p>
                </div>
              </div>
              <div class="relative">
                {{ form.gender(class="block w-full px-4 py-2 text-base text-gray-700 transition-colors bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent hover:bg-gray-200") }}
              </div>
            </label>
          </div>
          <div>
            <label class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.zip_code.label.text }}
                {{ popover("popover-zip", "Postleitzahl",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte die Postleitzahl ein..") }}
              </div>

            </label>
            <div class="relative">
              {{ form.zip_code(id="zip_code", class="input-field") }}
            </div>
            <label for="{{ form.city.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.city.label.text }}
                {{ popover("popover-city", "Ort",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Stadtnamen ein.") }}
              </div>
              <div class="relative">
                {{ form.city(id="city", class="input-field") }}
              </div>
            </label>
            <label for="{{ form.location_description.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.location_description.label.text }}
                {{ popover("popover-fundort", "Ergänzungen Ort",
                "Wählen sie die passende Option, ergänzen sie eventuell im Feld sonstige Angaben.)") }}
              </div>
              <div class="relative">
                {{ form.location_description(id=form.location_description.id, class="input-field") }}
              </div>
            </label>

            <label for="{{ form.picture_description.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.picture_description.label.text }}
                {{ popover("popover-beschreibung", "Ergänzungen zum Fund",
                "Ergänzende Angaben zum Bild (maximal 500 Zeichen)") }}
              </div>
              <div class="relative">
                {{ form.picture_description(
                class="input-field") }}
              </div>
            </label>
          </div>
        </div>
        <div class="flex justify-between mt-4 space-x-2">
          {{ formButton('step2Prev', 'Zurück') }}
          {{ formButton('step2Next', 'Weiter') }}
        </div>
      </div>
      <!-- Step 3: Person(en) -->
      <div id="step3" class="hidden step" data-step-index="2">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div>
            <label for="{{ form.report_first_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.report_first_name.label.text }}
                {{ popover("popover-reportvorname", "Vorname", "Geben Sie bitte Ihren ersten Buchstaben des Vornamens
                ein. Beispiel: M. für Max") }}
              </div>
              <div class="relative">
                {{ form.report_first_name(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.report_last_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.report_last_name.label.text }}
                {{ popover("popover-reportnachname", "Nachname", "Bitte geben Sie Ihren Namen wie
                angegeben ein. Die Eingabe des Meldernamens ermöglicht uns, Doppelmeldungen zu erkennen und
                zusammenzuführen") }}
              </div>
              <div class="relative">
                {{ form.report_last_name(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.sighting_date.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.sighting_date.label.text }}
                {{ popover("popover-datum", "Datum", "Wählen Sie hier bitte das Funddatum.
                TT für den Tag,
                MM für den Monat und
                JJJJ für das Jahr") }}
              </div>
              <div class="relative">
                {{ form.sighting_date(class="input-field") }}
              </div>
            </label>
          </div>
          <div>
            <label for="{{ form.contact.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.contact.label.text }}
                {{ popover("popover-kontakt", "Kontaktdaten", "Möchten Sie eine Antwort auf Ihre Meldung haben,
                geben Sie hier bitte Ihre E-Mail-Adresse ein. Ihre Kontaktdaten werden geschützt,
                nicht weitergegeben oder anderweitig verwendet.") }}
              </div>
              <div class="relative">
                {{ form.contact(type="email", class="input-field") }}
              </div>
            </label>
            <div>
              <div id="additionalFields" class="hidden">
                <label for="{{ form.finder_first_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
                  <div class="flex justify-between">
                    {{ form.finder_first_name.label.text }}
                  </div>
                  <div class="relative">
                    {{ form.finder_first_name(class="input-field") }}
                  </div>
                </label>
                <label for="{{ form.finder_last_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
                  <div class="flex justify-between">
                    {{ form.finder_last_name.label.text }}
                  </div>
                  <div class="relative">
                    {{ form.finder_last_name(class="input-field") }}
                  </div>
                </label>
                <div style="display:none;">
                  <label for="honeypot">Leave this field blank</label>
                  <input type="text" id="honeypot" name="honeypot">
                </div>                
              </div>
              <div class="mt-4">
                <label class="block text-sm font-semibold text-gray-600">
                  <div class="flex items-center justify-between">
                    <span>Finder und Melder sind identisch</span>
                    {{ form.identical_finder_melder(class="w-5 h-5 text-blue-600 form-checkbox") }}
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between mt-4 space-x-2">
          {{ formButton('step3Prev', 'Zurück') }}
          {{ formButton('step3Next', 'Weiter') }}
        </div>
      </div>


      <!-- Step 4: Zusammenfassung -->
      <div id="step4" class="hidden">
        <h2 class="mb-4 text-3xl font-semibold text-gray-800">Zusammenfassung</h2>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          <div class="p-5 bg-white rounded-lg shadow-md">
            <h3 class="mb-2 text-xl font-semibold text-gray-800">Bild</h3>
            <div>
              <img id="summaryImage" class="object-cover w-full h-auto rounded-lg" src="#" alt="Bildvorschau">
            </div>
          </div>
          <div class="p-5 bg-white rounded-lg shadow-md">
            <h3 class="mb-2 text-xl font-semibold text-gray-800">Standort</h3>
            <div id="summaryMap" class="h-64 rounded-lg"></div>
            <ul class="mt-3 text-lg list-disc list-inside">
              <li><strong class="text-gray-800">Längengrad:</strong> <span id="summaryLongitude"></span></li>
              <li><strong class="text-gray-800">Breitengrad:</strong> <span id="summaryLatitude"></span></li>
              <li><strong class="text-gray-800">Straße:</strong> <span id="summaryStreet"></span></li>
              <li><strong class="text-gray-800">Postleitzahl:</strong> <span id="summaryZipCode"></span></li>
              <li><strong class="text-gray-800">Ort:</strong> <span id="summaryCity"></span></li>
              <li><strong class="text-gray-800">Landkreis/Stadt:</strong> <span id="summaryDistrict"></span></li>
              <li><strong class="text-gray-800">Bundesland:</strong> <span id="summaryState"></span></li>
            </ul>
          </div>
        </div>
        <h3 class="mt-8 text-lg font-semibold text-gray-800">Beschreibung</h3>
        <ul class="text-lg list-disc list-inside">
          <li><strong class="text-gray-800">Entwicklungsstadium/Geschlecht:</strong> <span id="summaryGender"></span>
          </li>
          <li><strong class="text-gray-800">Ortsbeschreibung:</strong> <span id="summaryLocationDescription"></span>
          </li>
          <li><strong class="text-gray-800">Bildbeschreibung:</strong> <span id="summaryPictureDescription"></span></li>
        </ul>
        <h3 class="mt-8 text-lg font-semibold text-gray-800">Person</h3>
        <ul class="text-lg list-disc list-inside">
          <li><strong class="text-gray-800">Vorname:</strong> <span id="summaryFirstName"></span></li>
          <li><strong class="text-gray-800">Nachname:</strong> <span id="summaryLastName"></span></li>
          <li><strong class="text-gray-800">Fund Datum:</strong> <span id="summarySightingDate"></span></li>
          <li><strong class="text-gray-800">E-Mail:</strong> <span id="summaryContact"></span></li>
        </ul>
        <div class="flex justify-between mt-6 space-x-4">
          {{ formButton('step4Prev', 'Zurück') }}
          <form id="myForm">
            <button id="submitBtn" type="submit"
              class="relative px-6 py-2 text-sm font-medium text-white transition duration-300 bg-green-400 rounded-md hover:bg-green-500 ease">
              <span class="absolute bottom-0 left-0 h-full -ml-2">
                <svg viewBox="0 0 487 487" class="w-auto h-full opacity-100 object-stretch"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z"
                    fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
                </svg>
              </span>
              <span class="absolute top-0 right-0 w-8 h-full -mr-2">
                <svg viewBox="0 0 487 487" class="object-cover w-full h-full" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z"
                    fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
                </svg>
              </span>
              <span class="relative">Senden</span>
            </button>
          </form>
        </div>
      </div>
  </div>

  <script>
    // First Map:
    let map;
    let userMarker;
    mapApiKey = "{{apikey}}"

    function initMap() {
      map = L.map('map').setView([52.5200, 13.4050], 7);

      // Define map layers
      const openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18,
      });

      const arcGISLayer = L.esri.Vector.vectorBasemapLayer("ArcGIS:Imagery", {
        apikey: mapApiKey // Add your actual API key here
      });

      // Add default layer to the map
      map.addLayer(openStreetMapLayer);

      // Layer switcher control
      var baseMaps = {
        "Karte": openStreetMapLayer,
        "Satellit": arcGISLayer
      };

      L.control.layers(baseMaps).addTo(map);


      // Update form fields on map click
      map.on('click', function (e) {
        document.querySelector('#latitude').value = e.latlng.lat.toFixed(5);
        document.querySelector('#longitude').value = e.latlng.lng.toFixed(5);

        getAddressFromCoordinates(e.latlng.lat, e.latlng.lng);

        if (userMarker) {
          userMarker.remove();
        }

        userMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

        // Save form data to local storage
        let formData = {};
        document.querySelectorAll('input, select, textarea').forEach(function (input) {
          formData[input.id] = input.value;
        });
        localStorage.setItem('formData', JSON.stringify(formData));
        updateSummary();  // Also update the summary map right away

        // add longitute and latitude to local storage
        localStorage.setItem('latitude', e.latlng.lat.toFixed(5));
        localStorage.setItem('longitude', e.latlng.lng.toFixed(5));
      });

    }
    document.addEventListener('DOMContentLoaded', initMap);

    function getAddressFromCoordinates(latitude, longitude) {
      const nominatimUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}&zoom=18&addressdetails=1`;

      fetch(nominatimUrl)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          const address = data.address;

          document.querySelector("#zip_code").value = address.postcode ? address.postcode.split(";")[0] : "";
          document.querySelector("#city").value = address.city || address.town || address.village || "";
          document.querySelector("#street").value = `${address.road || ""} ${address.house_number || ""}`.trim();
          document.querySelector("#state").value = address.state || address.city || "";
          document.querySelector("#district").value = address.county || address.suburb || address.borough || "";

        })
        .catch(error => {
          console.error("Error fetching address data:", error);
        });
    }

    // Use Jinja2 to pass the Python variables to JavaScript
    let existing_user = {{ existing_user | tojson | safe }};

    // Check if the existing_user is not null
    if (existing_user) {
      // Prefill and lock the fields
      document.getElementById("report_first_name").value = existing_user.user_name.split(" ")[1];
      document.getElementById("report_last_name").value = existing_user.user_name.split(" ")[0];
      document.getElementById("contact").value = existing_user.user_kontakt;

      // Make the fields readonly
      document.getElementById("report_first_name").readOnly = true;
      document.getElementById("report_last_name").readOnly = true;
      document.getElementById("contact").readOnly = true;
    }


    function saveFormDataToLocalStorage() {
      const form = document.getElementById('mainForm');
      const formData = new FormData(form);

      for (const [key, value] of formData.entries()) {
        if (key !== "csrf_token") { // exclude csrf_token
          localStorage.setItem(key, value);
        }
      }
    }

    function loadFormDataFromLocalStorage() {
      const form = document.getElementById('mainForm');

      for (const input of form.elements) {
        if (input.name && input.type !== 'file') {
          const value = localStorage.getItem(input.name);
          if (value) {
            try {
              input.value = value;
            } catch (e) {
              console.error('Error setting input value:', e);
            }
          }
        }
      }
    }


    // Call this function when the page loads to load saved form data.
    document.addEventListener('DOMContentLoaded', loadFormDataFromLocalStorage);

    // Call this function to save form data to local storage when any input changes.
    document.getElementById('mainForm').addEventListener('input', saveFormDataToLocalStorage);

    document.addEventListener('DOMContentLoaded', function () {
      const pictureInput = document.querySelector('#picture');

      pictureInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (!file) return;

        EXIF.getData(file, function () {
          // Read metadata from the image
          const lat = EXIF.getTag(this, 'GPSLatitude');
          const lng = EXIF.getTag(this, 'GPSLongitude');
          const latRef = EXIF.getTag(this, 'GPSLatitudeRef');
          const lngRef = EXIF.getTag(this, 'GPSLongitudeRef');

          if (lat && lng && latRef && lngRef) {
            // Convert coordinates to decimal
            const latitude = toDecimal(lat, latRef);
            const longitude = toDecimal(lng, lngRef);

            // Set the values to the form fields
            document.querySelector('#latitude').value = latitude;
            document.querySelector('#longitude').value = longitude;

            getAddressFromCoordinates(latitude, longitude);
          } else {
            // Handle the case when GPS data is not available in the image
          }
        });
      });
    });


    const input = document.getElementById('{{ form.picture.id }}');
    const preview = document.getElementById('previewImage');
    const previewContainer = document.getElementById('imagePreview');
    const uploadText = document.getElementById('uploadText');

    input.addEventListener('change', function (e) {
      const file = e.target.files[0];
      const validFileTypes = ["image/png", "image/jpeg", "image/jfif", "image/webp", "image/heic"];

      // Clear previous error messages
      clearErrorsForField('picture');

      if (file) {
        // Check if the file type is valid
        if (!validFileTypes.includes(file.type.toLowerCase())) {
          // Call your error function here
          showErrors({ picture: ["Ungültiger Datentyp erlaubt sind PNG, JPG, JPEG, JFIF, WEBP, oder HEIC Datein."] }, 0);
          e.target.value = ''; // Clear the input
          return;
        }

        const reader = new FileReader();

        reader.addEventListener('load', function () {
          preview.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(file);
        previewContainer.classList.remove('hidden');
        uploadText.classList.add('hidden');
      } else {
        preview.setAttribute('src', '#');
        previewContainer.classList.add('hidden');
        uploadText.classList.remove('hidden');
      }
    });

    function clearErrorsForField(fieldName) {
      // Remove error styling from picture label
      const label = document.querySelector(`label[for="${fieldName}"]`);
      if (label) {
        label.classList.remove('error-field');
      }

      // Clear any existing error messages
      const field = document.querySelector(`[name="${fieldName}"]`);
      const errorElement = field.parentElement.querySelector('.form-error');
      if (errorElement) {
        // Remove error styling from field
        field.classList.remove('error-field');
        errorElement.remove();
      }
    }


    // Check if a success message is being flashed
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    // If there is a success message, clear local storage
    localStorage.clear();
    {% endif %}
    {% endwith %}

    function toDecimal(coord, ref) {
      const [degrees, minutes, seconds] = coord;
      let decimal = degrees + minutes / 60 + seconds / (60 * 60);

      if (ref === 'S' || ref === 'W') {
        decimal = -decimal;
      }

      return decimal;
    }

    function validateForm(event, nextStepIndex) {
      event.preventDefault();
      const form = event.target.closest('form');
      const formData = new FormData(form);

      let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      // The button that was clicked
      const button = event.target;

      // Save the current button text
      const originalButtonText = button.textContent;

      // Inject the SVG into the button
      button.innerHTML = `
        <svg class="w-5 h-5 mx-auto text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      `;

      fetch('/validate', {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken
        },
        body: formData
      })
        .then(response => {
          // Replace the SVG in the button with the original button text
          button.textContent = originalButtonText;

          if (!response.ok && response.status !== 333) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          const currentStepErrors = showErrors(data.errors, form.dataset.currentStep);
          if (currentStepErrors.length === 0) {
            showStep(nextStepIndex);
          }
        })
        .catch(error => {
          // Replace the SVG in the button with the original button text in case of an error as well
          button.textContent = originalButtonText;
          console.error(error);
        });
    }


    function showErrors(errors, currentStepIndex) {
      currentStepIndex = parseInt(currentStepIndex);  // parse to integer


      // Clear any existing error messages
      const errorElements = document.querySelectorAll('.form-error');
      errorElements.forEach(el => {
        // Remove error styling from field
        el.previousElementSibling.classList.remove('error-field');
        el.remove();
      });

      // Remove error styling from picture label
      const pictureLabel = document.querySelector('label[for="picture"]');
      if (pictureLabel) {
        pictureLabel.classList.remove('error-field');
      }

      let currentStepErrors = [];  // to keep track of errors in the current step

      // Add new error messages
      for (let fieldName in errors) {
        const fieldErrors = errors[fieldName];
        const field = document.querySelector(`[name="${fieldName}"]`);
        if (field && field.closest('.step') && parseInt(field.closest('.step').dataset.stepIndex) === currentStepIndex) {
          // If the field is the picture field, add error styling to the label
          if (fieldName === 'picture') {
            const label = document.querySelector(`label[for="${fieldName}"]`);
            label.classList.add('error-field');
          } else {
            // Add error styling to field
            field.classList.add('error-field');
          }

          const errorContainer = document.createElement('div');
          errorContainer.classList.add('form-error');
          errorContainer.style.display = 'flex'; // This line added
          errorContainer.style.alignItems = 'center'; // To vertically align the items
          errorContainer.style.margin = '0 0 0.5rem 0'; // To add space between the SVG and the text
          errorContainer.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4" style="margin-right: 0.5rem;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
            <span style="font-size: 0.75rem;">${fieldErrors.join(', ')}</span>
          `;

          field.parentElement.insertBefore(errorContainer, field.nextSibling);
          currentStepErrors.push(fieldName);  // add to the list of current step errors
        }
      }

      return currentStepErrors;  // return the list of current step errors
    }


    const step1 = document.getElementById('step1');
    const step2 = document.getElementById('step2');
    const step3 = document.getElementById('step3');
    const step4 = document.getElementById('step4');
    const step1Next = document.getElementById('step1Next');
    const step2Prev = document.getElementById('step2Prev');
    const step2Next = document.getElementById('step2Next');
    const step3Prev = document.getElementById('step3Prev');
    const step3Next = document.getElementById('step3Next');
    const step4Prev = document.getElementById('step4Prev');
    const additionalFields = document.getElementById('additionalFields');
    const form = document.getElementById('mainForm');

    step1Next.addEventListener('click', (event) => validateForm(event, 1));
    step2Prev.addEventListener('click', () => showStep(0));
    step2Next.addEventListener('click', (event) => validateForm(event, 2));
    step3Prev.addEventListener('click', () => showStep(1));
    step3Next.addEventListener('click', (event) => validateForm(event, 3));
    step4Prev.addEventListener('click', () => showStep(2));


    function showStep(index) {
      // Update the current step attribute
      form.dataset.currentStep = index;

      step1.classList.toggle('hidden', index !== 0);
      step2.classList.toggle('hidden', index !== 1);
      step3.classList.toggle('hidden', index !== 2);
      step4.classList.toggle('hidden', index !== 3);

      // Call invalidateSize after the step containing the map becomes visible
      if (index === 3) {  // If this is the step number of the summary step
        setTimeout(() => {
          summaryMap.invalidateSize();
        }, 400);  // This delay is to ensure that the DOM has finished updating before invalidateSize is called
      }

      if (index === 2) {
        additionalFields.classList.toggle('hidden', form.identical_finder_melder.checked);
      }
    }


    form.identical_finder_melder.addEventListener('change', () => {
      additionalFields.classList.toggle('hidden', form.identical_finder_melder.checked);
    });

    function autoCompleteData(inputField, zipCode, city, district, state) {
      var inputs = ['zip_code', 'city', 'district', 'state'];

      for (const id of inputs) {
        if (inputField.id === id) continue;
        let fieldValue = null;

        switch (id) {
          case 'zip_code':
            fieldValue = zipCode;
            break;
          case 'city':
            fieldValue = city;
            break;
          case 'district':
            fieldValue = district;
            break;
          case 'state':
            fieldValue = state;
            break;
        }

        document.getElementById(id).value = fieldValue || '';
      }
    }


    document.addEventListener('DOMContentLoaded', function () {
      let myForm = document.getElementById('myForm');
      let submitBtn = document.getElementById('submitBtn');

      if (myForm && submitBtn) {
        myForm.addEventListener('submit', function (e) {
          // Disable the submit button
          submitBtn.disabled = true;

          // Re-enable the button after 5 seconds
          setTimeout(function () {
            submitBtn.disabled = false;
          }, 5000);
        });
      }
    });


    // Step 4: Zusammenfassung und Vorschau
    // Map initialization
    // Second Map:
    const summaryMap = L.map("summaryMap").setView([0, 0], 13);
    mapApiKey = "{{apikey}}"

    // Define map layers
    const openStreetMapLayerSummary = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    });

    const arcGISLayerSummary = L.esri.Vector.vectorBasemapLayer("ArcGIS:Imagery", {
      apikey: mapApiKey // Add your actual API key here
    });

    // Add default layer to the map
    summaryMap.addLayer(openStreetMapLayerSummary);

    // Layer switcher control
    var baseMapsSummary = {
      "OpenStreetMap": openStreetMapLayerSummary,
      "ArcGIS": arcGISLayerSummary
    };

    L.control.layers(baseMapsSummary).addTo(summaryMap);

    const summaryMarker = L.marker([0, 0]).addTo(summaryMap);
    const summaryMarkerPopup = L.popup().setContent("");
    summaryMarker.bindPopup(summaryMarkerPopup);

    const updateSummary = () => {
      const data = JSON.parse(localStorage.getItem('formData'));

      if (data) {
        // Update the location on the map
        newLatLng = new L.LatLng(data.latitude, data.longitude);
        summaryMarker.setLatLng(newLatLng);
        summaryMap.setView(newLatLng, 13);

        // Add a delay before calling invalidateSize
        setTimeout(() => {
          summaryMap.invalidateSize();
        }, 400); // Adjust delay as needed

        // Update the popup content
        const popupContent = `<strong>Straße:</strong> ${data.street}<br>
  <strong>Postleitzahl:</strong> ${data.zip_code}<br>
  <strong>Ort:</strong> ${data.city}<br>
  <strong>Landkreis/Stadt:</strong> ${data.district}<br>
  <strong>Bundesland:</strong> ${data.state}`;
        summaryMarkerPopup.setContent(popupContent);

        // Picture is loaded directly from input as per your request, not from localStorage
        const pictureInput = document.getElementById('picture');
        const file = pictureInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function () {
            summaryImage.src = reader.result;
          };
          reader.readAsDataURL(file);
        } else {
          summaryImage.src = '#';
        }

        // Get the selected text from the location_description dropdown
        var selectLocationDescriptionElement = document.getElementById('location_description');
        var selectedLocationDescriptionText = selectLocationDescriptionElement.options[selectLocationDescriptionElement.selectedIndex].text;

        summaryLongitude.textContent = data.longitude;
        summaryLatitude.textContent = data.latitude;
        summaryStreet.textContent = data.street;
        summaryZipCode.textContent = data.zip_code;
        summaryCity.textContent = data.city;
        summaryDistrict.textContent = data.district;
        summaryState.textContent = data.state;
        summaryGender.textContent = data.gender;
        summaryLocationDescription.textContent = selectedLocationDescriptionText;
        summaryPictureDescription.textContent = data.picture_description;
        summaryFirstName.textContent = data.report_first_name;
        summaryLastName.textContent = data.report_last_name;
        summarySightingDate.textContent = data.sighting_date;
        summaryContact.textContent = data.contact;
      }
    }

    // Call the updateSummary function whenever the form inputs change
    document.querySelectorAll('input, select, textarea').forEach(function (input) {
      input.addEventListener('input', function () {
        // Store form data in local storage on input change
        let formData = {};
        document.querySelectorAll('input, select, textarea').forEach(function (input) {
          formData[input.id] = input.value;
        });
        localStorage.setItem('formData', JSON.stringify(formData));
        updateSummary();
      });
    });

    // Initially update the summary
    document.addEventListener('DOMContentLoaded', updateSummary);

    function copyToClipboard(id, el) {
      if (id) {
        var tempInput = document.createElement("input");
        tempInput.value = id;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        // Show a success toast or something
        el.innerText = 'Copied!';
        setTimeout(function () {
          el.innerText = 'Copy ID (URL)';
        }, 2000);
      }
      else {
        console.error("No ID provided: " + id);
      }
    }

  </script>
</div>
</div>
</body>

{% endblock content %}